::-webkit-input-placeholder {
   color: #777C1D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777C1D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777C1D;  
}

:-ms-input-placeholder {  
   color: #777C1D;  
}

* {
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	margin: 0;
	height: auto;
}

body {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
	font-weight: 400; 
	font-style: normal;
	color: #4A4A4A;
}

.container {
	max-width: 1440px;
	height: 1000px;
	padding: 3%;
	margin-top: 0%;
}

.header-area {
	margin-bottom: 90px;
}

button {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
	border: 0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
	background: #ADB521;
	float: left;
}

button:hover {
	background-color: #ADB521;
}

.button-text {
	font-weight: 700;
	font-size: 1.5em;
}

.search-bar {
	float: left;
	background: url('../images/search-icon-777C1D.png') no-repeat;
	margin-top: 7px;
}

.search {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
	font-weight: 400; 
    font-size: 1em;
    padding: 8px;
    padding-left: 0;
    width: 160%;
    margin-left: 40px;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: #ADB521;
	outline: none;
}

.search:focus {
	color: #777C1D;
}

.logo {
	float: right;
	margin-top: -15px;
}

.bottom-left {
	width: 54%;
	float: left;
}

.bottom-right {
	width: 45%;
	float: right;
	height: 87%;
	background-color: #F6F3F1;
}

.top-row ul li {
	display: inline-block;
	font-size: .8em;
    padding: 12px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.added {
	background-color: #74695B;
	width: 15%;
	border-right: 3px solid white;
}

.title {
	background-color: #C27738;
	width: 39%;
	border-right: 3px solid white;
	margin-left: -4px;
}

.author {
	background-color: #CEAC2F;
	width: 25%;
	border-right: 3px solid white;
	margin-left: -4px;
}

.publisher {
	background-color: #007D7D;
	width: 20%;
	margin-left: -4px;
}

.entry-rows {
	overflow-y:auto;
	height: 48em;
}

.entry-rows ul li {
	display: inline-block;
	font-weight: 500; 
	font-size: .9em;
	line-height: 1.45em;
	letter-spacing: -.02em;
	padding: 10px;
	margin-left: 4px;
	vertical-align: top;
}

article:nth-child(even) {
    background-color: #ECEAE7;
}

article:nth-child(odd) {
    background-color: #F6F3F1;
}

article ul li:first-child {
	width: 15%;
/*	border-right: 3px solid white;*/
}

article ul li:nth-child(2) {
	width: 40%;
/*	border-right: 3px solid white;*/
	margin-left: -4px;
}

article ul li:nth-child(3) {
	width: 25%;
/*	border-right: 3px solid white;*/
	margin-left: -4px;
}

article ul li:nth-child(4) {
	width: 15%;
	margin-left: -4px;
}

.top-bar {
	width: 100%;
	height: 36px;
	background-color: #4A4A4A;
}

.book-detail {
	padding-top: 5%;
	padding-left: 7%;
}

.book-title-text {
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.35em;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 6%;
}

.author-text {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 5%;
	margin-right: 6%;
}

img[src*="about-face.jpg"] {
	box-shadow: 8px 8px #D4CACA;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 8%;
	float: right;
}

.book-details-text li {
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: 1em;
	margin-right: 1em;
	font-weight: 400;
    letter-spacing: -0.02em;
}

.book-summary-text {
	width: 95%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: -0.02em;
}

.delete {
	background-color: #E08971;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-size: .8em;
}

.delete:hover {
	background-color: #D0021B;
}

.selected-book:hover {
	background-color: #4A4A4A;
	color: #FFFFFF;
}

.bold-title {
	font-weight: 600;
}

.add-book-overlay {
	position: absolute;
	clear:both;
	width: 25em;
	height: 40em;
	background-color: #ffffff;
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	margin-top: -30px;
}

.back-arrow  {
	position: absolute;
	top: 12px;
	left: 12px;
}

.add-text {
	text-align: center;
	margin: 12px;
	text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: .9em;
    margin-top: 14px;
    font-weight: 600;
    color: #ADB521
}

.close-icon {
	position: absolute;
	top: 12px;
	right: 12px;
}

.add-this-book-button {
	background: #777C1D;
	margin: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-size: .8em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    clear:both;
}


img[src*="100-journals-book.png"] {
    border: 1px solid #979797;
    background: transparent;
    box-shadow: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.found-book-title {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.3em;
	margin-top: .7em;
	margin-left: 30px;
	margin-right: 20px;
}
    
.found-book-authors {
	font-size: 1.2em;
	line-height: 1.3em;
	margin-top: .7em;
	margin-left: 30px;
	margin-right: 20px;
}

.found-book-details {
	font-size: 1em;
	line-height: 1.1em;
	margin-top: .7em;
	margin-left: 30px;
	margin-right: 20px;
}

